

.container{
    height: 90vh;
    overflow: scroll;

}

.weekSchedule {
    display: flex;
    justify-content: space-between;
  }
  
  .dayColumn {
    flex: 1;
    margin: 0 10px;
  }
  
  .courseItem{
    background-color: #f0f0f0;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .courseItem:hover{
    transform: scale(1.1);
  }


  .gridContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Erste Spalte für Woche +7 Tage */
    gap: 4px;
  }
  
  .headerRow {
    display: contents; /* Damit Header-Zeile wie Grid funktioniert */
  }
  
  .dataRow {
    display: contents; 
  }
  
  .headerCell {
    font-weight: bold;
    background-color: var(--softCoral);
    padding: 8px;
  }
  
  .cell {
    border: 1px solid #ccc;
    min-height:100px;
    padding:4px;
    position: relative;
  }

  .cell_paragraph {
    position: sticky;
    top: 10px;
    margin: 0px 4px; 
  }

  .select{
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0px 10px;
    text-align: end;

  }

  .select:hover{
    color: var(--primaryFont);
  }

  /* Wackel-Effekt */
@keyframes wobble {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(0deg); }
  }
  
  .wobble {
    animation: wobble 0.5s infinite;
  }
  
  .selected {
    border: 2px solid var(--primaryFont);
    opacity: 0.5;
  }
  /*
  .courseItem {
    opacity: 1;
    transition: opacity 0.3s, border-color 0.3s;
  }
  
  /* Opacity bei Nicht-Auswahl im Multi-Select *//*
  .courseItem:not(.selected):not(.wobble) {
    opacity: 0.3;
  }*/
  
  /* Buttons */

  .actionContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5px 0px;
  }


  .subContainer{
    display: flex;
    width: 100%;
    justify-content: center;
  }


  .greenButton {
     color: green;
     border-radius:50%;
     width:30px; 
     height:30px;
     font-size:2rem;
     cursor:pointer;
     margin: 0px 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.2s ease-in-out;
  }
  
  .redButton {
    position: relative;
    top: -2.5px;
     color:var(--primaryFont);
     border-radius:50%;
     width:30px; 
     height:30px;
     font-size:2rem;
     cursor:pointer;
     margin: 0px 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.2s ease-in-out;
  }

  .button{
    margin: 0px 10px;
    opacity: 0.2;
  }



  .xButton{
    position: relative;
    top: 1px;
     color:var(--primaryFont);
     border-radius:50%;
     width:30px; 
     height:30px;
     font-size:1.3rem;
     cursor:pointer;
     margin: 0px 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: 0.2s ease-in-out;
     font-weight: bolder;
  }


  .deleteButton{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--primaryFont);
    margin: 0px 4px;
    padding: 2px;
    width: 50px;

  }

  .deleteButton:hover{
    color: var(--primaryFontHover);
    transform: scale(1.01);
  }

  .greenButton:hover,   .redButton:hover{
    font-size: 2.4rem;
  }




  @media screen and (max-width: 1100px){
  
    .cell{
      position: relative;
    }

  
    .gridContainer {
      display: none;
    }
  
  }


  @media screen and (max-width: 850px){

    .subContainer{
      flex-direction: column;
    }
  }


  @media screen and (max-width: 650px){
  
    .subContainer{
      flex-direction: column;
    }
  }