

.container{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 5px;
    position: relative;
}

.select{
    outline: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0px 5px;
    text-align: end;
}



.select:hover{
    color: var(--primaryFont);
}