

.eventContainer{
    position: relative;

}

.imageContainer{
    height: 170vh;
    overflow: hidden;


}
.image{
    width: 100%;
    height: 100%;
    object-position: bottom;
    object-fit: cover;
}

.infoContainer{
    position: absolute;
    top: 0;
    width: 100%;
    top: 20px;


}

.infoContainer h1{
    color: var(--foreground);
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    font-size: 1.3rem;
}

.infoContainer h2{
    font-size: 1.1rem;
    color: var(--foreground);

}

.infoContainer p{
    background-color: rgba(0,0,0, 0.2);
    padding: 20px;
    color: var(--foreground);
    font-size: 1rem;
}