
.container{
    height: 500px;
    overflow: hidden;
    position: relative;
}
/*
.sliderButtonsContainer{
    position: absolute;
    font-size: 1.4rem;
    top: 0;
    left: 0%;
   border: 2px solid green;
   width: 100%;
   height: 100%;
}*/


.arrowLeftButton, .arrowButton{
    background-color: rgba(255,255,255, 0.3);
    margin: 0px 5px;
    width: 50px;
    height: 50px;
    padding: 0px 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.arrowButton:hover{
    background-color: rgba(255,255,255, 0.5);
}


.eventsContainer {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.linkContainer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image {
    object-fit: cover; 
    width: 100%;
    height: 100%; 
}

.link {
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s ease-in-out;
}

.link:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

