
.container{
    height: 100vh;
    overflow: hidden;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
}

.title {
    font-size: 1.25rem; 
    margin-bottom: 0.5rem; 
    z-index: 10000;   
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--primaryFontHover);

}
.arrowLeftButton, .arrowButton{
    padding: 0px 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 2rem;
}

.arrowButton:hover{
    color: var(--primaryFontHover)
}


.eventsContainer {
    height: 100%;
    overflow: hidden;
    position: relative; 
    
}

.linkContainer {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255, 0.3);
}

.image {
    object-fit: cover; 
    width: 100%;
    height: 100%; 
}

.link {
    font-size: 1.5rem;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.link:hover {
    color: var(--primaryFontHover)
}



@media screen and (max-width: 800px){
    .link{
        font-size: 1.2rem;
        padding: 5px;
    }

    .arrowLeftButton, .arrowButton{
        font-size: 1.3rem;
    }
}



@media screen and (max-width: 600px){
    .link{
        font-size: 1rem;
        padding: 5px;
    }


    .arrowLeftButton, .arrowButton{
        width: 30px;
        height: 30px;
        margin: 0px 5px;
    }
   
}