
.container{
    background-color: var(--background);

}

.titleContainer{
    font-size: 1.2rem;
    width: 300px;
    padding: 0px 4px;
    position: relative;
    font-weight: bolder;

}

.navigation{
    display: flex;
    width: 100%;
    margin: 0px 10px;
    align-items: center;
    position: relative;
}

.linksContainer{
    position: relative;
    left: -70px;
    top: 1px;
}

.link{
    margin: 0px 10px;
    padding: 5px;
}

.link,
.linkAboutUs {
    font-size: 1rem;
    color: var(--navigationHover);
    transition: 0.2s ease;
    cursor: pointer;
   
    position: relative;
   
}

.linkAboutUs {
    display: inline-block; 
}


.link:hover {
    color: var(--tertiaryBackground);
}

.dropdownContent {
    display: none;
    position: absolute; 
    background-color: var(--secondaryBackground);
    z-index: 1000;
    width: 200px;
}

.linkAboutUs:hover .dropdownContent {
    display: flex;
    flex-direction: column; 
}

.dropdownLink{
    font-size: 1.2rem;
    height: 50px;
    display: flex;
    padding: 5px;
    align-items: center;
    color: var(--background);
    transition: 0.2s ease-in-out;
}

.dropdownLink:hover{
    background-color: var(--tertiaryBackground);
}


.socialContainer{
    display: flex;
    position: absolute;
    right: 20px;


}

.socialButton{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgba(255,255,255, 0.3);
}

.socialButton:hover{
    background-color: var(--secondaryBackgroundOpaque);
}

.socialButton:hover{
    box-shadow: 0px 0px 5px grey;
}

.socialIcon{
    width: 25px;
    height: 25px;
}





















  .mobileMenu{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 2px;

    
  
  }

  .sponsoringContainer{
    background-color: rgba(255,255,255, 0.3);
    padding: 0px 5px;
    height: 5vh;

  }

@media screen and (max-width: 1100px){

    .linksContainer{
        left: 0px;
    }

    .link{
        margin: 20px 10px 0px 0px;
       
    }
    .navigation{
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .titleContainer{
        margin: 10px 0px;
    }

 
}

@media screen and (max-width: 800px){

    .sponsoringContainer{
        height: 4vh;
        
    }
    .socialContainer{
        margin: 0;
        top: 20px;
    }


    .link{
        margin: 20px 10px 0px 0px;
    }

    .mobileLinksContainer{
        width: 40%;
    }
}





@media screen and (max-width: 600px){

    .titleContainer{
        top: -10px;
    }
    .container{
        height: 100px;
    }
    .link{
       display: none;
    }

  
  .menuButton{
      cursor: pointer;
      width: 25px;
      height: 25px;
      transition: 0.2s ease-in-out;
      position: relative;
      top: 10px;
  }
  
    .menuButton:hover{
      transform: scale(1.2);
      background-color: transparent;
    }
  
  .menuButton Image{
      cursor: pointer;
  }
 


  .socialContainer{
    top: 50px;
    right: 20px;
    
  }

  .socialButton{
    margin: 0px 5px;
  }
}

