
.container{
    background-color: var(--background);

}

.titleContainer{
    font-size: 1.2rem;
    width: 300px;
    padding: 0px 4px;
    position: relative;
    font-weight: bolder;

}

.navigation{
    display: flex;
    width: 100%;
    margin: 0px 10px;
    align-items: center;
    position: relative;
}

.link{
    font-size: 1rem;
    color: var(--navigationHover);
    transition: 0.2s ease;
    cursor: pointer;
    margin: 0px 10px;
    z-index: 1000;
    padding: 5px;

}

.link:hover{
    color: var(--title);
}

.socialContainer{
    display: flex;
    position: absolute;
    right: 80px;

}

.socialButton{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgba(255,255,255, 0.3);
}

.socialButton:hover{
    background-color: var(--secondaryForeground);
}

.socialButton:hover{
    box-shadow: 0px 0px 5px grey;
}

.socialIcon{
    width: 25px;
    height: 25px;
}



.mobileMenu{
    width: 100px;
    height: 25px;
    position: absolute;
    top: -4px;
    right: 0;
    display: flex;
    justify-content: center;

  }
  
  .menuButton{
      cursor: pointer;
      width: 25px;
      height: 25px;
      transition: 0.2s ease-in-out;
  }
  
  .menuButton:hover{
      background-color: rgba(255,255,255, 0.3);
  }
  
    .menuButton Image{
      cursor: pointer;
    }
    

    .mobileLinksContainer {
        display: inline-block;
         position: fixed; 
         top: 0;
         left: -1000px; 
         width: 30%; 
         height: 100%; 
         background-color: var(--background);
         box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
         transition: left 1s ease; 
         z-index: 1000;
     }
     
     .mobileLinksContainer.open {
        left: 0; 
    }



  .mobileLink {
    display: block; 
    padding: 15px; 
    text-decoration: none; 
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.mobileLink:hover{
    color:var(--title);
    background-color: rgba(255,255,255, 0.3);
    box-shadow: 2px 0px 2px grey;
}

.closeMobileMenuButton{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

    .closeMobileMenuButton:hover{
    color: var(--title);
    cursor: pointer;
    }

    

    .closeMobileMenuButton Button{
        cursor: pointer;
        width: 100%;
    }


  .mobileMenu{
    display: flex;
    justify-content: end;
    position: absolute;
    top: 2px;
  
  }

  .sponsoringContainer{
    background-color: rgba(255,255,255, 0.3);
    padding: 0px 5px;
    height: 5vh;

  }

@media screen and (max-width: 1100px){

    .link{
        margin: 20px 20px 0px 0px;
    }
    .navigation{

        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .titleContainer{
        margin: 10px 0px;
    }

    .mobileMenu{
        top: 23px;
    }
}

@media screen and (max-width: 800px){

    .sponsoringContainer{
        height: 4vh;
        
    }
    .socialContainer{
        margin: 0;
        top: 10px;
    }
    .mobileMenu{
        top: 12px;
    }

    .socialButton{
        width: 35px;
        height: 35px;
        margin: 0px 8px;
    }


    .link{
        margin: 20px 10px 0px 0px;
    }

    .mobileLinksContainer{
        width: 40%;
    }
}





@media screen and (max-width: 600px){

    .titleContainer{
        top: -10px;
    }
    .container{
        height: 100px;
    }
    .link{
       display: none;
    }


    .mobileMenu{
        height: 25px;
        position: relative;
        top: -4px;
        display: flex;
        justify-content: start;
        width: 100%;
    }
  
  .menuButton{
      cursor: pointer;
      width: 25px;
      height: 25px;
      transition: 0.2s ease-in-out;
      position: relative;
      top: 10px;
  }
  
    .menuButton:hover{
      transform: scale(1.2);
      background-color: transparent;
    }
  
  .menuButton Image{
      cursor: pointer;
  }
 

  .mobileLinksContainer{

    width: 50%;
}

  .socialContainer{
    top: 62px;
    right: 10px;
    
  }

  .socialButton{
    margin: 0px 5px;
  }
}


@media screen and (max-width: 500px){
    .mobileLinksContainer{

        width: 70%;
    }
    
}