


.mobileCoursePlanContainer, .filterContainer{
    display: none;
}


@media screen and (max-width: 1000px){
  
 

    .mobileCoursePlanContainer{
       display: flex;
       height: 65vh;
       position: relative;
    }

}

