.container {
    width: 90%; 
    padding: 20px; 
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid var(--buttonHover);

  }
  
  .title {
    font-size: 2rem; 
    color: var(--primaryFontHover); 
    margin-bottom: 10px; 
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
  }


  .opening {
    font-size: 1.5rem; 
    color: var(--tertiaryFont); 
    transition: 0.2s ease-in-out;
    margin-left:5px;
    transition: 0.2s ease-in-out
  }

  .opening:hover{
    color: var(--tertiaryFontHover)

  }
  
  .subtitle {
    font-size: 1.75rem; 
    margin-top: 20px; 
    margin-left: 10px;
    color: var(--primaryFontHover);
   
  }
  
  .description {
    font-size: 1rem; 
    line-height: 1.6; 
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primaryFont);
   
  }

  .description li strong{
    color: var(--primaryFontHover);
  }

  .description li{
    margin: 5px 0px;
    color: var(--primaryFont);

  }



  .image{
    width: 100%;
    object-fit: cover;
    margin: 2px 0px;
  }


  .link, .telephone{
    font-size: 1.1rem;
    margin: 0px 2px;
    color: var(--tertiaryFont);
    transition: 0.2s ease-in-out;
    font-weight: bolder;

}

.link:hover{
    color: var(--tertiaryFontHover);
}

  @media screen and (max-width: 1100px){

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 800px){
  .container{
    padding: 5px;
  }

  .description{
    text-align: justify;
  }

  .description li{
    margin: 10px 0px;
  }

  .description li strong{
    color: var(--strongCoral)
  }

 
}

@media screen and (max-width: 600px){
  .title {
    text-align: center;
  }
}