@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Lavishly+Yours&family=Rouge+Script&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EBCFC6;
    --foreground: #EAE6DB;
    --secondaryForeground: #E8A7A3;
    --navigation: #F7AC84;
    --navigationHover: #8B706E;
    --title: #CA2732;
    --subTitle: ;
    --paragraph: ;
    --buttonBg: ;
    --buttonHover: rgb(255, 127, 80, 0.8);


    --secondaryForGroundDark:hsl(356, 68%, 47%);
    
    --POLE: #E09E99;
    --FLEXIBILITY: #8B706E;
    --DANCE: #B89D9B;
    --PLAYGROUND: #FA9A85;
    --SPECIALS: rgba(243, 18,  42, 0.9);
    
    

    --primaryFontDarkk: #EDD0A8;
    --secondaryFontDark: #E5734F;
    --secondaryFontDarkk: #CA2732;

    --backgroundLight: #EAE6DB;
    --primaryForegroundLight: #EBCFC6;
    
    --primaryFontLight: ;
    --secondaryFontLight: #463A48;



    --foreground: #ededed;

    --iceBlue: rgba(214, 234, 240);
  }

}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.beVietnamProFont{
  font-family: "Be Vietnam Pro", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.3rem;

}