@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EBCFC6;
    --foreground: #EAE6DB;
    --secondaryForeground: #E8A7A3;
    --navigation: #F7AC84;
    --navigationHover: #CA2732;
    --title: #CA2732;
    --subTitle: ;
    --paragraph: ;
    --buttonBg: ;


    --secondaryForGroundDark:hsl(356, 68%, 47%);
    
    --POLE: #E09E99;
    --FLEXIBILITY: #8B706E;
    --DANCE: #B89D9B;
    --PLAYGROUND: #FA9A85;
    
    

    --primaryFontDarkk: #EDD0A8;
    --secondaryFontDark: #E5734F;
    --secondaryFontDarkk: #CA2732;

    --backgroundLight: #EAE6DB;
    --primaryForegroundLight: #EBCFC6;
    
    --primaryFontLight: ;
    --secondaryFontLight: #463A48;



    --foreground: #ededed;
  }

}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
