.container{
    height: 80vh;
}

.image{
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.image:hover{
    opacity: 1;
    transform: scale(1.1)

}

/*
.slider_div{
    height: 100%;
    position: relative;
    transition: width 0.4s ease;
    width: 50%; 

}


.slider_div:hover {
    width: 90%; 
}

.flex-container:hover .slider_div:not(:hover) {
    width: 10%; 
}

.flex-container:not(:hover) .slider_div {
    width: 50%; 
}

@media screen and (max-width: 1000px){
    .flexContainer{
       flex-direction: column;
      
    }

    .slider_div{
        width: 100%;
        transition: 0.2s ease-in-out;
        border:2px solid var(--background);
    }

    .slider_div:hover{
        width: 100%;
        transform:scale(1.05);
    }
}

*/