.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;

}
   
 
 .title{
     font-size: 1.6rem; 
     color: var(--primaryFont);
     margin: 10px 0px;

 }

 .subTitle{
    font-size: 1.4rem;
    color: var(--primaryFont);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin: 10px 0px;

 }

 .subTitle:hover{
    color: var(--primaryFontHover)
 }

 .subTitleInactive{
    position: absolute;
   color: var(--primaryFontHover)
 }


 .subContainerPole{
    position: relative;
    margin-left: 20px;
    display: flex;
 }

 



.email{
    color: var(--primaryFont);
    font-size: 1.3rem;
    margin: 0px 10px 0px 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
   
}

.email:hover{
    color: var(--primaryFontHover);
}




@media screen and (max-width: 1100px){

    .container {
        width: 100%;
    }


    .description{
        width: 100%;
    }
}


@media screen and (max-width: 900px){

    .subContainerPole{
        width: 100%;
    }
}