.container {
    width: 90%;
     margin: 0 auto;
     padding: 20px;
     border-radius: 8px;
 }
   
 
 .title{
     font-size: 2rem; 
     color: #333; 
     margin-bottom: 10px; 
 }

 .subTitle{
    font-size: 1.4rem;
    color: var(--foreground);
    transition: 0.2s ease-in-out;
    cursor: pointer;
 }

 .subTitle:hover{
    color: var(--strongCoral)
 }

 .subTitleInactive{
    position: absolute;
    left: -10000px;

 }


.subContainerPole{
    background-color: var(--secondaryBackground);
    margin: 15px 0px;
    min-height: 100px;
    padding: 15px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}



.email{
    color: var(--buttonHover);
    font-size: 1.3rem;
    margin: 0px 10px 0px 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
   
}

.email:hover{
    color: var(--secondaryBackground);
}

.description{
    margin: 0px 20px;
    width: 70%;
    color: var(--background);
    padding: 10px;

}
.subContainerSkate{
    background-color:  var(--iceBlue);

}



@media screen and (max-width: 1100px){

    .container {
        width: 100%;
    }
}


@media screen and (max-width: 900px){

    .subContainerPole{
        width: 100%;
    }
}