
.container{
   display: flex;
   padding: 5px;
}


.weekInfo{
    font-size: 0.9rem;
    text-align: center;
}

.backForwardButton{
    position: relative;
    left: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.backForwardButton:hover{
    background-color: rgba(255,255,255, 0.3);
}

.filterButtonsContainer{
   margin: 2px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   position: relative;

   
}

.filterButton{
    background-color: rgba(255,255,255, 0.3);
    padding: 5px;
    margin: 0px 5px; 
    width: 180px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
 
 }
 
 .filterButton:hover{
    background-color: var(--secondaryForeground);
 }
 
 .filterButtonActive{
    background-color: rgba(255,255,255, 0.8);
    color: var(--title)
 }
 
 .filterButtonsUniqueLevelButtons{
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 0px 5px; 
    top: 60px;
   
 }



.levelButton{
    height: 30px;
    margin: 2px 0px;
    padding: 2px;
    width: 100%;
    background-color: var(--foreground);
    cursor: pointer;
    transition: 0.2s ease-in-out;
 }
 
 .levelButton:hover{
    background-color: var(--secondaryForeground)
 }
 
 

 
 .courseDescriptionButton{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px;
    margin: 0px 10px 15px 10px;
 }

.courseDescriptionButton:hover{
    color: var(--title);
    
}





 @media screen and (max-width: 1300px){
   .container{
      flex-direction: column;
   }

   .weekInfo{
      margin: 0px 10px;
      text-align: start;
   }

 

   .filterButtonsUniqueLevelButtons{
 
      top: 37px;
   }
 }

 @media screen and (max-width: 1150px){

   .filterButtonsContainer{
      flex-direction: column;
   }

   .filterButtonsSubContainer{
      width: 100%;
      margin: 2px 0px;
   }

   .filterButton{
      width: 100%;
      margin: 0;
   }

   .filterButtonsUniqueLevelButtons{
       position: relative;
       top: 0;
       flex-direction: row;
       margin: 5px 0px;
       width: 100%;
       transition: 0.2s ease;
       
   }

   .levelButton{
      margin: 0px 5px;
      height: 35px;
   
   }
  
 }


 @media screen and (max-width: 900px){
   .filterButtonsUniqueLevelButtons{
      position: relative;
      top: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5px 0px;
      width: 100%;
      transition: 0.2s ease;

      flex-wrap: wrap;
  }

  .levelButton{
     margin: 2px 2px;
     height: 35px;
     width: 95%;
  }
 }

