
.weekInfo{
    font-size: 0.9rem;
    text-align: center;
}

.backForwardButton{
    position: relative;
    left: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.backForwardButton:hover{
    background-color: rgba(255,255,255, 0.3);
}

.filterButtonsContainer{
   margin: 2px;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
   
}
/*
.filterButton{
    padding: 5px;
    margin: 0px; 
    width: 145px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--primaryFont);
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
 }
 
 .filterButton:hover{
    background-color: var(--primaryFont);
    color: var(--primaryFontHover);
 }
*/
 .circle{
   margin: 0px 5px;
   height: 30px;
   width: 30px;
   border-radius: 50%;

 }

/*
 .filterTrainersSubContainer{
   position: relative;
   border: 2px solid orange

 }*/

 .filterButton{
   min-width: 70px;
 }
 .filterButtonActive, .filterTrainerActive{
    color: var(--softCoral)
 }


 
 .filterButtonsUniqueLevelButtons{
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0px; 
    right: 50px;
    top: -5px;
    z-index: 100000; 
 }



.levelButton{
    height: 35px;
    margin: 5px 0px;
    padding: 2px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: var(--foreground);
 }
 
 .levelButton:hover{
   transform: scale(1.03);
   color: var(--background);
   background-color: var(--primaryFont);
 }
 
 

 
 .courseDescriptionButton{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px;
    margin: 20px 10px 10px 5px ;
   width: 50%;
   background-color: rgba(255,255,255, 0.2);
 }

.courseDescriptionButton:hover{
    background-color: var(--buttonHover);
    transform: scale(1.01);
}



.filterTrainersSubContainer{
   display: flex;
   align-items: center;
}

.trainersButton, .filterButton{
   margin: 0px 10px;
   padding: 5px;
   cursor: pointer;
  transition: 0.2s ease-in-out;
}

.trainersButton:hover, .filterButton:hover{
   color: var(--primaryFont);
}



 @media screen and (max-width: 1300px){


   .weekInfo{
      margin: 0px 10px;
      text-align: start;
      font-size: 1rem;
   }

 


   .filterButtonsUniqueLevelButtons{
      transition: 0.2s ease-in-out;
      top: 33px;
   
   }
}

@media screen and (max-width: 1200px){
   .filterButtonsContainer{
      margin-top: 10px;
   }
}

 @media screen and (max-width: 1150px){



   .filterButtonsContainer{
      flex-direction: column;
   }

   /*
   .filterButton{
      width: 100%;
   }*/
   .filterButtonsSubContainer{
      width: 100%;
      margin: 2px 0px;

   }

 


   
   .levelButton{
      margin: 0px 5px;
      height: 35px;
      background-color: var(--softCoral);
   
   }

 

   .filterButtonsUniqueLevelButtons{
      left: 0;
      position: relative;
      top: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 5px 0px;
      width: 100%;
      transition: 0.2s ease;
      flex-wrap: wrap;
  }


  .levelButton{
     margin: 2px 2px;
     height: 35px;
     width: 95%;
  }


  
 }

