

.headerContainer{
    display: flex;
}

.titleContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.titleContainer h1{
    text-align: center;

}

.title{
    /*border: 2px solid blue;*/
    text-align: center;
    margin-top: 10px;
}

.descriptionContainer{
    padding: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
}


.paragraph{
   font-size: 1rem;
   margin: 0px 20px;
   line-height: 25px;
}

.contactLink{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}

.contactLink:hover{
    color:var(--title);
    cursor: pointer;
    font-size: 1.1rem;
}

.privateInfoContainer{
    display: flex;
}

.privateInfo{
    background-color: var(--secondaryBackgroundOpaque);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 1.4rem;
    border-bottom: 1px solid var(--buttonHover);
    width: 100%;
}

.infoParagraph{
    font-size: 1.2rem;
    margin: 20px 0px;
    padding: 0px 10px;
    
}

.button{
    background-color: var(--background);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    color:var(--background);
    background-color: var(--buttonHover);
}

.email{
    color: var(--title);
    font-size: 1.3rem;
    margin: 0px 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.email:hover{
    color: var(--buttonHover);
}



@media screen and (max-width: 800px){
    .headerContainer{
        flex-direction: column;
    }

    .titleContainer{
        width: 100%;
        height: 70px;
    }

    .descriptionContainer{
        width: 100%;
        margin-top:30px;
    }

    .privateInfoContainer{
        flex-direction: column;
    }

    .privateInfo{
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 10px 0px;
        box-shadow: 1px 0px 3px grey;

    }
}