

.headerContainer{
    display: flex;
    flex-direction: column;
}

.titleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}





.descriptionContainer{
    width: 100%;
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;

   
}

.contactLinksContainer{
    width: 30%;
    
}


.paragraph{
   font-size: 1rem;
   width: 70%;
   line-height: 25px;
   margin-right: 20px;
}

.contactLink{
    background-color: var(--softGreen);
    height: 50px;
    margin: 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}

.contactLink:hover{
   background-color: var(--tertiaryBackground);
   color: var(--foreground);
   cursor: pointer;
   box-shadow: 0px 0px 4px grey;
}

.privateInfoContainer{
    display: flex;
}

.privateInfo{
    background-color: rgba(255,255,255, 0.1);
    padding: 10px;
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--softCoral);
    border-top: 2px solid var(--softCoral);
    transition: 0.2s ease-in-out;
    height: 520px;
}



.title{
    font-size: 1.4rem;
    width: 100%;
}

.itemTitle{
    font-size: 1.4rem;
}

.infoParagraph{
    font-size: 1rem;
    margin: 20px 0px;
    padding: 0px 10px;
    
}

.button{
    border-top: 1px solid var(--secondaryBackground);
    border-bottom: 1px solid var(--secondaryBackground);
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    transform: scale(1.01);
}


.email{
    color: var(--title);
    font-size: 1.3rem;
    margin: 0px 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.email:hover{
    color: var(--buttonHover);
}

@media screen and (max-width: 1200px){
    .privateInfo{
        height: 600px;
       
    }
}


@media screen and (max-width: 1000px){
    .descriptionContainer{
        flex-direction: column;
        margin-top: 10px;
    }

    .paragraph{
        width: 100%;
        margin: 5px 0px;
    }

    .contactLinksContainer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0px;
    }

    .contactLink{
        width: 40%;
        height: 40px;
    }


    .privateInfoContainer{
        flex-direction: column;
    }



 

}


@media screen and (max-width: 800px){
    .headerContainer{
        flex-direction: column;

    }

    .privateInfoContainer{
        padding: 10px;
    }

    .titleContainer{
        width: 100%;
        padding: 0px 10px;
    }

    .descriptionContainer{
        width: 100%;
        padding: 0px 10px;
    }


}


@media screen and (max-width: 500px){
    .privateInfo{
       height: 450px;
    }
}