

.container{
    font-family: 'Kumbh Sans', sans-serif;
}

.headerContainer{
    display: flex;
    flex-direction: column;
}

.titleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--primaryFontHover);

}

.descriptionContainer{
    width: 100%;
    display: flex;
    padding: 0px 5px;
    justify-content: space-between;
}

.contactLinksContainer{
    width: 30%;
}


.paragraph{
   font-size: 1rem;
   width: 70%;
   line-height: 25px;
   margin-right: 20px;
}

.contactLink{
    transition: 0.2s ease-in-out;
    height: 50px;
    margin: 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
}

.contactLink:hover{
   color: var(--softCoral);
   cursor: pointer;
}

.privateInfoContainer{
    display: flex;
}

.privateInfo{
    padding: 10px;
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    height: 520px;
}



.title{
    font-size: 1.4rem;
    width: 100%;
}

.itemTitle{
    font-size: 1.4rem;
}

.infoParagraph{
    font-size: 1rem;
    margin: 20px 0px;
    padding: 0px 10px;
    transition: 0.2s ease-in-out;
    
}

.button{
   font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

}

.button:hover{
    transform: scale(1.1);
    color: var(--primaryFontHover);
}


.email{
    color: var(--secondaryBackground);
    font-size: 1.3rem;
    margin-left: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--primaryFont);
    cursor: pointer;
    transition:  0.2s ease;
}

.email:hover{
    color: var(--primaryFontHover);
}

@media screen and (max-width: 1200px){
    .privateInfo{
        height: 600px;
       
    }
}


@media screen and (max-width: 1000px){
    .descriptionContainer{
        flex-direction: column;
        margin-top: 10px;
    }

    .paragraph{
        width: 100%;
        margin: 5px 0px;
    }

    .contactLinksContainer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 10px 0px;
    }

    .contactLink{
        width: 40%;
        height: 40px;
    }


    .privateInfoContainer{
        flex-direction: column;
    }



 

}


@media screen and (max-width: 800px){

    .titleContainer{
        text-align: center;
    }
    .headerContainer{
        flex-direction: column;

    }

    .privateInfoContainer{
        padding: 10px;
    }

    .titleContainer{
        width: 100%;
        padding: 0px 10px;
    }

    .descriptionContainer{
        width: 100%;
        padding: 0px 10px;

    }


}


@media screen and (max-width: 500px){
    .privateInfo{
       height: 490px;
    }
}