/* CourseInfoModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 10000;
}

.modalContent {
    background-color: var(--background);
    box-shadow: 2px 0px 5px var(--navigationHover);
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50vh;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: scroll;
    z-index: 10000;
}


.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.title{
    font-size: 1.4rem;
}

.coursePrices, .coursePlanButton{
    margin: 0px 10px;
    width: 160px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--title);
    height: 40px;
    background-color: rgba(255,255,255, 0.1);
}
 

 
.coursePlanButton:hover, .coursePrices:hover{
     color: var(--foreground);
     background: var(--title);
     border: 2px solid var(--title);
}
 

 



.description{
    margin: 10px 0px;
    font-size: 1.1rem
}

.info{
    font-size: 0.9rem;
    font-style: italic;
}

.button{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    color:var(--title)
}


@media screen and (max-width: 1250px){
    .headerContainer{
        flex-direction: column;
    }

    .title{
        margin-bottom: 5px;
    }

    .coursePrices, .coursePlanButton{
        width: 170px;
        height: 35px;
    }
}

@media screen and (max-width: 900px){
    .coursePrices, .coursePlanButton{
        margin: 0px 3px;

    }
}


@media screen and (max-width: 800px){

    .buttonContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title{
        text-align: center;
    }
    .coursePrices, .coursePlanButton{
        border: 2px solid var(--DANCE);
        margin: 0px 3px;
    }

    .modalContent{
        width: 80%;
    }
}

