/* CourseInfoModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    
}

.modalContent {
    background-color: var(--background);
    box-shadow: 2px 0px 5px var(--navigationHover);
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    height: 50vh;
    transition: 0.2s ease-in-out;
    position: relative;
    overflow: scroll;
}

.title{
    font-size: 1.4rem;
}

.description{
    margin: 10px 0px;
    font-size: 1.1rem
}

.info{
    font-size: 0.9rem;
    font-style: italic;
}

.button{
    position: absolute;
    bottom:15px;
    right: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    color:var(--title)

}


.coursePlanButton{
    width: 200px;
    height: 50px;
    position: absolute;
    top: 4px;
    right: 5px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: var(--secondaryForeground);
    color: var(--title);

}

.coursePlanButton:hover{
    color: var(--foreground);
    background: var(--title);
}