.container {
    padding: 20px;

}

.title{
    color: var(--primaryFont);
    margin: 10px 0px;
    font-size: 1.6rem;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
}

.category {
    padding: 10px;
}


.partnerGrid {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 1rem 0px 3rem 0rem;
}

.partnerCard {
    height: 25vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--DANCE);
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    position: relative;
}

.link{
    font-size: 1rem;
    opacity: 0.7;
    position: absolute; 
    left: 0.5rem;
    bottom: 0.25rem;
    transition: 0.2s ease-in-out;
    width: 100%;

}

.link:hover{
    opacity: 1;
    color: var(--primaryFontHover)
}

.partnerCard:hover {
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);

}

/*
.linkOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.partnerCard:hover .linkOverlay {
    opacity: 1;
}
*/