
.container{
    min-height: 100vh;
}

.titleContainer{
    display: flex;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
 }
 

 .courseItemDescription{
    position: relative;
 }


 .POLE{
    background-color: var(--POLE);
    color: var(--FLEXIBILITY);
  }
 
  .POLE h4{
    color: var(--FLEXIBILITY);
  }
 
  .FLEXIBILITY{
    background-color: var(--FLEXIBILITY);
  }
 
  .DANCE{
    background-color: var(--DANCE);
  }
 
 
  .PLAYGROUND{
    background-color: var(--PLAYGROUND);
  }

  .SPECIALS{
    background-color: var(--SPECIALS);
  }
 
  .ARIALSILK{
    background-color: var(--ARIALSILK);
  }

  .HOOP{
    background-color: var(--HOOP);
  }

  .HAMMOCK{
    background-color: var(--HAMMOCK);
  }
 
  .KIDS{
    background-color: var(--KIDS);
  }

  .HEELS{
    background-color: var(--HEELS);
  }




.buttons{
    cursor: pointer;
    font-size: 0.9rem;

}

.courseDescriptionDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    margin-bottom: 10px;
}

.button {
    width: 100%;
    height: 400px;   
    transition: 0.2s ease-in-out;
    z-index: 1000;
    position: relative;
    border: none;
    font-size: 1.3rem; 
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
}

.button:hover{
    box-shadow: 0px 1px 2px var(--secondaryBackground);
    transform: scale(1.02);
    font-size: 1.4rem;
}



.pricesContainer{
    margin: 10px;
}



.inactive{
    position: relative;

}


.active:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.inactive:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.image{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: 0.2s ease-in-out;
}


.courseIsPending{
    z-index: 1000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 1200px){

    .button{
        font-size: 1.1rem;
        height: 300px;
    }


    .titleContainer{
        flex-direction: column;
    }


    .buttons{
        margin: 10px 0px;
        height: 30px;
    }
 
}



@media screen and (max-width: 900px){

    .courseDescriptionDiv{
        grid-template-columns: repeat(2, 1fr); 
    }

    .button{
        font-size: 1.1rem;
    }

}

/*
@media screen and (max-width: 700px){
    .button{
        border: 2px solid red;
    }
}*/

@media screen and (max-width: 600px) {

    .container{
        margin: 10px;
    }

    .courseDescriptionDiv{
        grid-template-columns: repeat(1, 1fr); 
    }


}

@media screen and (max-width: 500px){

    .courseDescriptionDiv{
        grid-template-columns: repeat(1, 1fr); 
    }
    
}