


.courseDescriptionDiv{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    margin-bottom: 10px;
}

.button {
    width: 100%;
    height: 200px;
    cursor: pointer;   
    background-color: var(--secondaryForeground);
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--PLAYGROUND);
    color: var(--foreground);
    box-shadow: 2px 0px 10px grey;
    transform: scale(1.04);
    letter-spacing: 1px;
}

.pricesContainer{
    margin: 10px;
}


.inactive{
    position: relative;
    color: grey;
    color: rgba(0,0,0,0.8);
}


.inactive:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-color: white;
}


@media screen and (max-width: 600px) {

    .container{
        margin: 10px;
    }

    .courseDescriptionDiv{
        grid-template-columns: repeat(2, 1fr); 
    }

}

@media screen and (max-width: 500px){

    .courseDescriptionDiv{
        grid-template-columns: repeat(1, 1fr); 
    }
    
}