

.container{
    background-color: var(--background);
    min-height: 65vh;
    position: relative;
    padding: 10px 10px 10px 0px;
    
}


.upButton{
    border: 2px solid gold;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.container h2{
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.container h2:hover{
    color:var(--title);
}

.container h3{
    font-size: 1.2rem;
    margin: 5px 0px;
    font-weight: bolder;
}


/* PriceTable.module.css */


.container h2 {
    font-size: 1.5rem;
    text-align: center;
}

.container h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bolder;
}

.container h4{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.subCategoryButton{
    font-size: 1.2rem;
    margin: 5px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    padding: 5px 10px 0px 10px;
}

.subCategoryButton:hover{
    color: var(--title)
}

.itemContainer{
    display: flex;
    flex-wrap: wrap; 
    list-style-type: none; 
    padding: 0; 
    margin: 10px 0px;
    margin-bottom: 20px;
}

.item{
    border: 1px solid var(--secondaryBackground);
    width: 200px; 
    min-height:250px;
    margin: 10px; 
    padding: 10px; 
    text-align: center; 
    border-radius: 8px;
    transition: transform 0.2s; 
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: rgba(255,255,255, 0.3);
}

.item:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 5px var(--secondaryBackground);
    border: 2px solid rgba(255,255,255, 0.5);
    background-color: rgba(255,255,255, 0.4);
}

.itemTitle{
    font-weight: bolder;
    display: flex;
    justify-content: center;
}


.itemPrice{
    font-size: 0.9rem;
    margin: 6px 0px;
   
}

.itemInfo{
    font-size: 0.8rem;
    margin-top:5px;
}
.button{
    background-color: var(--secondaryBackground);
    color: white; 
    border: none; 
    padding: 10px;
    cursor: pointer; 
    transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: var(--buttonHover);
}

@media screen and (max-width: 750px){

    .subCategoryTitle{
        padding: 0px 40px;

    }

    .itemContainer{
        justify-content: center;
    }
 
    .item{
        margin: 20px;
    }

}

@media screen and (max-width: 600px){
   
    .item{
        width: 80%;
    }
}


@media screen and (max-width: 500px){
   
    .item{
        width: 100%;
    }
}